<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.authentication.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scheduleController</servlet-name>
        <servlet-class>controller.reportStudent.timetableForStudentsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attendanceReportForStudentController</servlet-name>
        <servlet-class>controller.reportStudent.attendancReportForStudentsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>timetableForInstructorController</servlet-name>
        <servlet-class>controller.instructor.timetablForIntructorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAttendanceGroups</servlet-name>
        <servlet-class>controller.instructor.listAttendanceGroupsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scheduleController</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attendanceReportForStudentController</servlet-name>
        <url-pattern>/viewattendstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>timetableForInstructorController</servlet-name>
        <url-pattern>/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAttendanceGroups</servlet-name>
        <url-pattern>/listattendancegroups</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
